* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 336px;
  height: 262px;
  overflow: hidden;
  background-color: #1a1a2e;
  color: #eee;
  font-family: system-ui, sans-serif;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
}

canvas {
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
}
